/*
========================================================================================
    LRS_PBMERGE NEXTFLOW CONFIGURATION
========================================================================================
*/

profiles {

    standard {
        process.executor = 'local'
    }

    hpc {
        apptainer {
            enabled    = true
            autoMounts = true
            cacheDir   = "/flashscratch/${System.getenv('USER')}/containers"
            runOptions = '--bind /flashscratch:/flashscratch --bind /projects:/projects --bind /home:/home'
        }

        process {
            executor       = 'slurm'
            beforeScript   = 'export PATH=/cm/local/apps/apptainer/current/bin:$PATH'
            queue          = 'compute'
            clusterOptions = { task.time < 72.h ? '-q batch' : '-q long' }
            memory         = '16 GB'
            time           = '21h'
        }

        executor {
            name            = 'slurm'
            queueSize       = 150
            submitRateLimit = '1 / 2 s'
        }
    }

    gcb {
        process.executor      = 'google-batch'
        process.disk          = '500 GB'
        process.errorStrategy = 'finish'
        process.machineType   = 'n2-highmem-16'
        workDir               = 'gs://your-bucket/lrs_pbmerge/work_dir'
        google.region         = 'us-east1'
        google.location       = 'us-east1'
        google.project        = 'your-gcp-project'
    }

}

def now() {
    return new Date().format("yyyy-MM-dd")
}

params {

    csv_path  = null
    runDate   = new Date().format('yyyyMMdd')
    outputDir = "/flashscratch/${System.getenv('USER')}/jax-apml-lrs/"
    workDir   = "/flashscratch/${System.getenv('USER')}/tmpwork/${now()}/"

}

process {
    beforeScript = 'export PATH=/cm/local/apps/apptainer/current/bin:$PATH'
}
